/* QuotePrompt.css */
.quote-prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; /* Espaço entre elementos */
    text-align: center;
  }
  
  .quote-message {
    font-size: 18px;
    color: #555;
  }
  
  .ant-input-affix-wrapper {
    max-width: 400px;
    width: 100%;
  }
  